<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome <span th:text="${employee}"></span>, to the Admin Page</h1>

    <h2>Register</h2>
    <form action="/add-employee" method="post" th:object="${employee}">
        <label>User Id</label>
        <input type="text" name="userId" >
        <br>
        <label>Password</label>
        <input type="password" name="password"  >
        <br>
        <label>Role</label>
        <input type="text" name="role" >
        <br><br>
        <button>Register</button>
    </form>
    <br>

    <table border="1">
        <thead>
            <tr>
                <th>Employees</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${emp}">
                <td th:text="${employee.userId}"></td>
                <td th:text="${employee.role}"></td>
            </tr>
        </tbody>
    </table>

    <form action="/all" method="get">

    <button>Register</button>
    </form>
    
</body>
</html>