<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Welcome <span th:text="${employee}"></span>, to the Admin Page</h1>

    <h2>Register</h2>
    <form action="/add-employee" method="post" th:object="${employee}">
        <label>User Id</label>
        <input type="text" name="userId">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <label>Role</label>
        <input type="text" name="role">
        <br><br>
        <button>Register</button>
    </form>
    <br>

    <form action="/employeeDepartment" method="post" th:object="${emp}">

        <h2><span th:text="${heading}"></span> table</h2>

        <label for="role">Select Department:</label>
        <select id="role" name="role">
            <option value="orders">orders</option>
            <option value="sales">sales</option>
            <option value="repairs">repairs</option>
            <option value="admin">admin</option>
        </select>
        <button type="submit">Filter</button>
        <br><br>

        <table border="1">
            <thead>
                <tr>
                    <th>Employees</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employees : ${emp}">
                    <td th:text="${employees.userId}"></td>
                    <td th:text="${employees.role}"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <br>

    <form action="/all" method="get">
        <button>Show-employees</button>
    </form>

</body>

</html>